.deps/
.vscode/

*.cache/

Makefile

*~
*.a
*.in
*.o

aclocal.m4
evcd2vcd
fst2vcd
fstminer
gtkwave
lxt2miner
lxt2vcd
rtlbrowse
shmidcat
stamp-h1
twinwave
vcd2fst
vcd2lxt
vcd2lxt2
vcd2vzt
vzt2vcd
vztminer
xml2stems

gtkwave3-gtk3/config.h
gtkwave3-gtk3/config.log
gtkwave3-gtk3/config.status
gtkwave3-gtk3/configure
gtkwave3-gtk3/src/vcd_keywords.c
